:root{
    --header_color: #eaeaea;
    --footer_color: #f3eeea;
    --aside_color: white;
    --main_color: rgba(0, 0, 0, 0);
    --icon_color: #b1b1b1;
    --icon_size: calc(16px * 1.3);
    --notification_color: #8edafc;
    --header_height: 50px;
    --element_height: 60px;
    --input_container_height: calc(var(--element_height) / 1.5);
    --left_padding: calc(16px * 1);
    --small_size: calc(16px * 0.85);
    --x-small-size: calc(16px * 0.7);
    --h5_font_size: calc(16px * 1.2);
    --text_size: calc(16px * 1);
    --light_text: #575757;
    --text_color: black;
    --element_hover_color: #e9ebeb;
    --notification_hover_color: #b3e6fd;
    --date_color: #eaeaea;
    --search_color: white;
    --search_text_color: black;
    --input_container_color: #fafafa;
    --received_color: white;
    --sent_color: #d5f9ba;
    --border_color: rgb(219, 219, 219);
    --input_message_color: white;
    --background_color1: rgb(214,219,215);
    --background_color2: linear-gradient(0deg, rgba(214,219,215,1) 85%, rgba(0,150,136,1) 85%);
    --wrapper_border: #b1b1b1;
    --menu_color: white;
    --menu_hover_color: #edffdf;
    --active_color: #c7ff9d;
    --active_hover_color: #b6ff7e;
    --empty_color: rgb(255, 205, 111);
    --submit_color: lightgray;
    --submit_hover_color: rgb(192, 192, 192);
    --welcome_border: #98ff49;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background: var(--background_color1);
    background: var(--background_color2); 
    color: var(--text_color);
    overflow: hidden;
    font-size: var(--text_size);
}

#app{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.al-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    border: 1px solid var(--wrapper_border);
    overflow: hidden;
}

aside{
    width: 100%;
    height: 100%;
    background-color: var(--aside_color);
    border-right: 1px solid var(--wrapper_border);
}

main{
    width: 100%;
    height: 100%;
}

header{
    background-color: var(--header_color);
    height: var(--header_height);
    display: flex;
    align-items: center;
    padding: var(--left_padding);
}

main{
    position: relative;
    background-image: url("../img/mine.jpg");
}

footer{
    height: var(--header_height);
    width: 100%;
    background-color: var(--footer_color);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 15;
}

i.fa-solid, i.fa-regular{
    font-size: var(--icon_size);
    color: var(--icon_color);
    cursor: pointer;
    transition: all 300ms;
}

i.fa-solid:hover, i.fa-regular:hover{
    transform: scale(1.2);
    color: lightgreen;
}

.al-element{
    height: var(--element_height);
    display: flex;
    align-items: center;
    padding-left: var(--left_padding);
    cursor: pointer;
}

.al-element:hover{
    background-color: var(--element_hover_color);
}

.al-active{
    background-color: transparent;
}

.al-notification{
    background-color: var(--notification_color);
    transition: background-color 300ms;
    height: var(--element_height);
    display: flex;
    align-items: center;
    padding-left: var(--left_padding);
    cursor: pointer;
}

.al-notification:hover{
    background-color: var(--notification_hover_color);
}

.al-notification > div:first-of-type i{
    color: var(--notification_color);
}

.al-rounded{
    height: calc(var(--element_height) / 1.4);
    width: calc(var(--element_height) / 1.4);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #f2fbff;
    overflow: hidden;
}

img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.al-closer-top{
    margin-top: -2px;
}

.al-closer-bottom{
    margin-bottom: -2px;
}

.al-light-text{
    color: var(--light_text);
}

.al-input-container{
    height: var(--input_container_height);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--input_container_color);
}

#search-box{
    width: 95%;
    height: 75%;
    border: 1px solid var(--border_color);
    border-radius: 5px;
    color: var(--search_text_color);
    background-color: var(--search_color);
    padding: 0 calc(16px * 3);
    background-image: url("../img/magnifying-glass.svg");
    background-repeat: no-repeat;
    background-size: var(--icon_size);
    background-position: 10px, 400px;
}

::placeholder{
    color: var(--light_text);
    opacity: 0.8;
}

.al-overflow-height{
    height: calc(100% - 100px);
    overflow-y: auto;
}

.al-overflow{
    height: calc(100% - 150px);
    overflow-y: auto;
}

small{
    font-size: var(--small_size);
}

#messages-container{
    height: calc(100% - var(--header_height) * 2);
    overflow-y: auto;
    background-color: var(--main_color);
}

.al-margin-messages{
    margin-top: 20px;
    margin-bottom: 20px;
}

.al-sent{
    background-color: var(--sent_color);
    align-self: end;
    margin-right: 40px;
}

.al-received{
    background-color: var(--received_color);
    align-self: start;
    margin-left: 40px;
}

.al-sent, .al-received{
    max-width: 65%;
    border-radius: 8px;
    padding: 10px 75px 10px 10px;
    word-wrap: break-word;
}

.al-sent-time{
    position: absolute;
    bottom: 2px;
    right: 6px;
    font-size: var(--x-small-size);
    color: var(--light_text);
}

#input-message{
    width: 80%;
    height: 75%;
    border: 1px solid var(--border_color);
    border-radius: 5px;
    color: var(--search_text_color);
    background-color: var(--input_message_color);
    padding: 0 8px
}

.al-date{
    display: flex;
    align-self: center;
    border-radius: 8px;
    padding: calc(16px * 0.5) calc(16px * 0.8);
    background-color: var(--date_color);
    margin-bottom: 20px;
}

.al-menu-data{
    z-index: 10;
}

.al-menu{
    transform-origin: top right;
    transform: scale(0);
    position: absolute;
    right: 0;
    transition: transform 200ms;
    border-radius: 5px;
    border: 1px solid var(--wrapper_border);
    background-color: var(--menu_color);
}

.al-menu-data{
    z-index: 10;
}

.al-context-menu{
    transform-origin: top left;
    transform: scale(0);
    position: fixed;
    z-index: 100;
    background-color: var(--menu_color);
    border-radius: 5px;
    border: 1px solid var(--wrapper_border);
}

.al-menu-item{
    white-space: nowrap;
    background-color: var(--menu_color);
    padding: 10px 18px;
    cursor: pointer;
    transition: background-color 200ms;
    border-radius: 5px;
    z-index: 10;
}

.al-menu-item:hover{
    background-color: var(--menu_hover_color);
}

.al-menu-visible{
    transform: scale(1);
}

.al-empty{
    background-color: var(--empty_color);
    padding: 12px 22px;
    font-size: 20px;
    border-radius: 5px;
}

.al-add-contact{
    position: absolute;
    min-width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--header_color);
    border: 1px solid var(--wrapper_border);
    border-radius: 5px;
    z-index: 100;
    padding: 44px 32px;
}

.al-x-mark{
    position: absolute;
    top: -2px;
    right: 3px;
}

.al-x-mark i:hover{
    transform: scale(1);
}

form input[type="text"]{
    width: 100%;
    padding: 5px 6px;
    color: var(--search_text_color);
    background-color: var(--input_message_color);
    border: 1px solid var(--wrapper_border);
}

form input[type="submit"]{
    padding: 4px 12px;
    background-color: var(--submit_color);
    border: 1px solid var(--wrapper_border);
    border-radius: 5px;
    transition: background-color 300ms;
    color: var(--text_color);
}

form input[type="submit"]:hover{
    background-color: var(--submit_hover_color);
}

form label{
    cursor: pointer;
}

.al-to-contact{
    display: flex;
    align-items: center;
}

.al-none{
    display: none;
}

h5{
    font-size: var(--h5_font_size);
}

.al-welcome{
    background-color: var(--active_color);
    border: 1px solid var(--welcome_border);
    padding: 12px 22px;
    font-size: 20px;
    border-radius: 5px;
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

@media screen and (min-width: 576px){
    .al-wrapper{
        width: 80%;
        height: 95%;
    }
}

@media screen and (min-width: 900px){
    .al-wrapper{
        width: 100%;
        height: 100%;
    }

    aside{
        width: 50%;
    }

    main{
        width: 50%;
        display: block;
    }

    .al-active{
        background-color: var(--active_color);
    }

    .al-active:hover{
        background-color: var(--active_hover_color);
    }

    .al-to-contact{
        display: none;
    }

    .al-none{
        display: block;
    }
}

@media screen and (min-width: 1150px){
    aside{
        width: 40%;
    }

    main{
        width: 60%;
        display: block;
    }
}

@media screen and (min-width: 1350px){
    .al-wrapper{
        width: 80%;
        height: 95%;
    }
}